{%extends 'base.html.jinja'%}
{%block content%}
<h2>Kontakt</h2>
<div class="container">
    <h3>Zamówienia</h3>
        <b>E-mail: </b>tszarlej@proton.me
    </div>
        <div class="container">
    <h3>Darmowa wycena</h3>
        <b>Telefon: </b>(+48) 518 997 219<br>
        <b>E-mail: </b>timszarlej@gmail.com
    </div>
        <div class="container">
    <h3>Obsługa Klienta</h3>
        <b>Telefon: </b>(+48) 518 997 219<br>
        <b>E-mail: </b>tszarlej@proton.me
        </div>
{%endblock%}